<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Red Hat's screener - users API">
	    <meta name="keywords" content="student, redhat, restful, ai, web">
	    <meta name="author" content="Oleksandr Kononov">
	    <title>Users API</title>

	    <!--jQuery and jQuery UI libraries -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

		<!-- Semantic UI -->
		<link rel="stylesheet" type="text/css" href="/css/semantic/dist/semantic.min.css">
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<script src="/css/semantic/dist/semantic.min.js"></script>
	</head>