
<header class="ui items container">
	<div class="item">

		<div class="ui left floated small image">
			<img src="/assets/image.png">
		</div>

		<div class = "middle aligned content">
			<nav class="ui three item menu">
			  <a href ="http://localhost:8000/" class="item">Display all users</a>
			  <a href="http://localhost:8000/createUser" class="item">Create a user</a>
			  <a href="http://localhost:8000/api" class="item">API</a>
		</nav>
		</div>
	</div>
</header>