<%- include("includes/_header.ejs") %>

<body class="ui container">

<h1 class="ui header">Users API</h1>

<%- include("includes/_menu.ejs") %>

<section class="ui container grid">
  <div class="ui four wide column medium image">
    <img src="/assets/image.png">
  </div>
  <form class="ui twelve wide column form">
    <div class="field">
      <label>Gender</label>
      <input type="text" name="gender" placeholder="Gender">
    </div>
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" placeholder="Name">
    </div>
    <div class="field">
      <label>Location</label>
      <input type="text" name="location" placeholder="Location">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email">
    </div>
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="text" name="password" placeholder="Password">
    </div>
    <div class="field">
      <label>Date Of Birth</label>
      <input type="text" name="dob" placeholder="DOB">
    </div>
    <div class="field">
      <label>Phone Number</label>
      <input type="text" name="phone" placeholder="Phone">
    </div>
    <div class="field">
      <label>Cellphone Number</label>
      <input type="text" name="cell" placeholder="Cellphone">
    </div>
    <div class="field">
      <label>PPS Number</label>
      <input type="text" name="pps" placeholder="PPS">
    </div>
    <div class="field">
      <label>Picture Link</label>
      <input type="text" name="picture" placeholder="Picture-URL">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</section>

</body>
</html>