<%- include("includes/_header.ejs") %>

<body class="ui container">

<h1 class="ui header">Users API</h1>

<%- include("includes/_menu.ejs") %>



<div class="ui action input">
  <input type="text" placeholder="Search...">
  <button class="ui button">Search</button>
</div>


<table class="ui compact celled table">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Gender</th>
      <th>Name</th>
      <th>Location</th>
      <th>Email</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img class="ui tiny image" src="/assets/image.png">
      <td>Male</td>
      <td>EXAMPLE 1</td>
      <td>N/A</td>
      <td>eg@example.com</td>
      <td>Noman111</td>
      <td>45478pass</td>
    </tr>
    <tr>
      <td><img class="ui tiny image" src="/assets/image.png">
      <td>Male</td>
      <td>EXAMPLE2</td>
      <td>N/A</td>
      <td>eg2@example.com</td>
      <td>Noman111</td>
      <td>45478pass</td>
    </tr>
    <tr>
      <td><img class="ui tiny image" src="/assets/image.png">
      <td>Male</td>
      <td>EXAMPLE3</td>
      <td>N/A</td>
      <td>eg3@example.com</td>
      <td>Noman111</td>
      <td>45478pass</td>
    </tr>
    <tr>
      <td><img class="ui tiny image" src="/assets/image.png">
      <td>Male</td>
      <td>EXAMPLE4</td>
      <td>N/A</td>
      <td>eg4@example.com</td>
      <td>Noman111</td>
      <td>45478pass</td>
    </tr>
  </tbody>
</table>

</body>
</html>